<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <main>
      <%- include('partials/nav.ejs') %>
      <h1>Hello stranger</h1>
      <p>
        WAIT A MINUTE. Before you leave, why don't take a look around? We has
        items, categories and ...responsiveness! Alright, I have to admit I
        haven't style the page very much. But the main purpose here is to
        demonstrate that the backend works, so no css today. Also there is no
        we. Just me.
      </p>
      <figure>
        <img src="assets/cat.MP.jpg" alt="" />
        <figcaption><i>Fig. 1 - A cat to catch your attention</i></figcaption>
      </figure>
      <p>
        <b>ATTENTION! </b>Before using/testing this application, you may please
        be more mindful of the content you will create and upload. Don't just
        put some random gibberish like 'hello world', 'testing' or something
        like that. Yes, I do not intend to put a password on every action on
        this application. I hope this would be a playground and also the
        reference to all other learners.
      </p>
    </main>
  </body>
</html>
